$width: 650px;
$margin: 10px;
$english-color: #3949AB;
$header-color: #3949AB;
$border: 1px solid #d3d3d3;

@font-face {
  font-family: 'MainFont';
  //src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url("../res/SourceSansPro-Regular.ttf");
  src: url("../res/LibertinusSans-Regular.otf");
  font-weight: 400;
}

body {
   margin: 0;
}

h1, h2, h3, h4, p, label, li, input {
   font-family: 'MainFont';
}

h1 { font-size: 2.1em; }

h2 { font-size: 1.8em; }

h3 { font-size: 1.6em; }

h4 { font-size: 1.3em; }

p { font-size: 1.2em; }

#wrapper {
   display: grid;
   height: 100vh;
   grid-template-areas:
      'search header'
      'list main'
      'pagination main';
   grid-template-columns: $width auto;
   grid-template-rows: 60px auto 50px;
   box-sizing: border-box;
}

main {
   grid-area: main;
   width: 100%;
   height: calc(100vh - $margin * 2);
   padding: 80px;
   padding-top: 30px;
   background-color: white;
   box-sizing: border-box;

   .word {
      display: inline;
   }

   .types {
      display: inline-block;
      vertical-align: top;
      font-size: 1.2em;
      margin-top: 0.45em;
      margin-left: 5px;
      color: #757575;
   }

   .ipa {
      color: #757575;
      font-size: 1.2em;
      margin-top: 6px;
   }

   .english {
      color: $english-color;
   }

   h3 {
      margin-bottom: -5px;
      padding-top: 10px;
   }

   h4 {
      font-weight: 300;
      text-decoration: underline;
      margin-bottom: 5px;
   }
}

.searchfield {
   grid-area: search;
}

header {
   grid-area: header;
   background-color: $header-color;

   h1 {
      color: white;
      font-size: 1.5em;
      margin-left: 20px;
   }
}

input[type="text"] {
   width: calc(100% - 30px);
   height: 100%;
   padding-left: 25px;
   padding-right: 5px;
   border: 0;
   background-color: white;
   color: black;
   font-size: 1em;
   transition: .2s ease outline-color;
}

.list {
   grid-area: list;
   height: 100%;
   list-style: none;
   margin-left: -40px;
   margin-top: 0;
   padding-top: -10px;
   border-right: $border;
}

.list li {
   width: calc(100% - 45px);
   padding: 10px;
   padding-left: 35px;
   background-color: white;
   margin-bottom: -2px;
   border-top: $border;
   border-bottom: $border;
   cursor: pointer;

   p {
      font-size: 1.1em;
   }

   h3 {
      font-size: 1.3em;
   }

   .word {
      line-height: 0;
   }

   .english {
      color: $english-color;
      line-height: 0.8;
   }

   &:hover {
      background-color: #EEEEEE;
   }
}

.paginationContainer {
   grid-area: pagination;
   background-color: white;
   text-align: center;
   padding-top: 10px;
   border-right: $border;

   label, li {
      display: inline;
      cursor: pointer;
      padding: 5px 0 5px 0;
      border: 1px solid #E0E0E0;

      &:hover {
         background-color: #EEEEEE;
      }
   }

   label, .page {
      padding: 5px;
   }
}

.active .page {
   background-color: #D3D3D3;
}

.pagination .disabled {
   display:none;
}

.pagination {
   display: inline;
   margin-top: 0;
   padding: 10px;
   box-sizing: border-box;

   li {
      display: inline-block;
      margin: 0 5px 0 5px;

      a {
         text-decoration: none;
         color: black;
      }
   }
}
